@using MinhCoffee.Resource;
@using MinhCoffee.Models;
@using MinhCoffee.Converters;
@model ViewBillingModel
@{
    IEnumerable<SelectListItem> buyerCountries = Model.buyerCountry.ToList().Select(m => new SelectListItem
    {
        Value = m.ToString(),
        Text = EnumToString.CountryEnumToString(m)
    });
}

<div class="billing-info">
    @using(Html.BeginForm("BillingProcess", "Products", FormMethod.Post))
    {
        <table class="buyer-info">
            <thead>
                <tr>
                    <th>@MinhCoffee.BuyerInfoLabel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@MinhCoffee.BuyerName</td>
                    <td>@Html.EditorFor(m => m.buyerName)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerPhone</td>
                    <td>@Html.EditorFor(m => m.buyerPhone)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerMobile</td>
                    <td>@Html.EditorFor(m => m.buyerMobile)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerAddressLine1</td>
                    <td>@Html.EditorFor(m => m.buyerAddressLine1)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerAddressLine2</td>
                    <td>@Html.EditorFor(m => m.buyerAddressLine2)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerCity</td>
                    <td>@Html.EditorFor(m => m.buyerCity)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.BuyerCountry</td>
                    <td>@Html.DropDownListFor(m => m.buyerCountry, buyerCountries)</td>
                </tr>

            </tbody>
        </table>
        <input type="checkbox" class="is-checkbox" />
        <table class="receiver-info">
            <thead>
                <tr>
                    <th>@MinhCoffee.ReceiverInfoLabel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@MinhCoffee.ReceiverName</td>
                    <td>@Html.EditorFor(m => m.receiverName)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverPhone</td>
                    <td>@Html.EditorFor(m => m.receiverPhone)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverMobile</td>
                    <td>@Html.EditorFor(m => m.receiverMobile)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverAddressLine1</td>
                    <td>@Html.EditorFor(m => m.receiverAddressLine1)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverAddressLine2</td>
                    <td>@Html.EditorFor(m => m.receiverAdressLine2)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverCity</td>
                    <td>@Html.EditorFor(m => m.receiverCity)</td>
                </tr>
                <tr>
                    <td>@MinhCoffee.ReceiverCountry</td>
                    <td>@Html.DropDownListFor(m => m.receiverCountry, buyerCountries)</td>
                </tr>

            </tbody>
        </table>
    }
</div>