@using MinhCoffee.Resource;
@using MinhCoffee.Models;

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    var item = Model as ViewItemsModel;
    IEnumerable<SelectListItem> prices = item.quantityWithPrices.Select(f => new SelectListItem
    {
        Value = f.mix[0] + ":" + f.mix[1],
        Text = f.suffix
    });
}
<div class="item-wrapper">
    <div class="process-bar">
        <span class="line"></span>
        <a href="#" class="nav active">@MinhCoffee.Order</a>
        <span class="line"></span>
        <a href="#" class="nav">@MinhCoffee.Billing</a>
        <span class="line"></span>
        <a href="#" class="nav">@MinhCoffee.Payment</a>
        <span class="line"></span>
        <label class="nav">@MinhCoffee.Complete</label>
    </div>
    @using(Html.BeginForm("Item", "Products", FormMethod.Post, new { id = "form-submit", @class="form-item" })) {
    <div class="item-img-col">
        <img src="@item.image.src"/>
    </div>
    <div class="item-content-col">
        <h3>@Html.EditorFor(m => item.name, new {@disabled="disabled" })</h3>
        <ul>
            <li>@Html.DisplayTextFor(m => item.description)</li>
            <li><span>@MinhCoffee.Origin</span><span>@Html.EditorFor(m => item.origin, new { @disabled = "disabled" })</span></li>
            <li><span>@MinhCoffee.Price</span><span>@Html.EditorFor(m => item.price, new { disabled = "disabled", id = "item-price" })<i>$</i></span></li>
            <li><span>@MinhCoffee.Stock</span><span>@Html.EditorFor(m => item.stock, new { disabled = "disabled" })</span></li>
        </ul>
    </div>
    <div class="item-dropdown">
        <ul>
            <li><span>@MinhCoffee.Quantity </span><span>@Html.EditorFor(m => item.quantity) <input type="number" id="quantityUI" onchange="QuantityOnChange"/></span></li>
            <li>@Html.DropDownListFor(m => item.quantityWithPrices, prices, "select package", new {@class="drop-list" })</li>
        </ul>
    </div>
    <div class="item-summary">
        <h3>@MinhCoffee.Summary</h3>
        <ul>
            <li>
                <span>@MinhCoffee.Tax</span>
                <span></span>
            </li>
            <li>
                <span>@MinhCoffee.Shipping_Fee</span>
                <span></span>
            </li>
            <li>
                <span>@MinhCoffee.Total</span>
                <span></span>
            </li>
        </ul>
        <button type="submit">@MinhCoffee.Continue</button>
    </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".form-item input").each(function () {
            var $this = $(this);
            if ($this.attr("id") != "quantityUI") {
                $this.attr("disabled", "disabled");

                if ($this.attr("name") == "item.quantity") {
                    $this.css("display", "none");
                }
            }
        });

        $("#quantityUI").on("change", function () {
            var value = $(this).val();
        });

        $("#item_quantityWithPrices").on("change", function () {
            var value = $(this).val();
            alert(value)
        });
    }(jQuery));
</script>


