@using MinhCoffee.Resource;
@using MinhCoffee.Models;

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    var item = Model as ViewItemsModel;
}
<div class="item-wrapper">
    @using(Html.BeginForm("Item", "Products", FormMethod.Post, new { id = "form-submit", @class="form-item" })) {
    <div class="item-img-col">
        <img src="@item.image.src"/>
    </div>
    <div class="item-content-col">
        <h3>@Html.EditorFor(m => item.name, new {@disabled="disabled"})</h3>
        <ul>
            <li>@Html.DisplayTextFor(m => item.description)</li>
            <li><span>@MinhCoffee.Origin</span><span>@Html.EditorFor(m => item.origin, new { @disabled = "disabled" })</span></li>
            <li><span>@MinhCoffee.Price</span><span>@Html.EditorFor(m => item.price, new {disabled="disabled"})</span></li>
            <li><span>@MinhCoffee.Stock</span><span>@Html.EditorFor(m => item.stock, new { disabled = "disabled" })</span></li>
            <li>@Html.DropDownListFor(m => item.quantityWithPrices, new List<SelectListItem>(), "select package")</li>
        </ul>
    </div>
    <div class="item-summary">
        <button type="submit">Process</button>
    </div>
    }
</div>



